<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.bstek.bdf.plugins.common.BdfWizardCategory"
            class="com.bstek.bdf.plugins.databasetool.wizard.DbToolCreationWizard"
            icon="icons/table16.png"
            id="com.bstek.bdf.plugins.databasetool.wizard.DbToolCreationWizard"
            name="创建数据库模型">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.bstek.bdf.plugins.databasetool.DbToolGefEditor"
            contributorClass="com.bstek.bdf.plugins.databasetool.DbToolGefEditorActionBarContributor"
            default="false"
            extensions="dbtool"
            icon="icons/table16.png"
            id="com.bstek.bdf.plugins.databasetool.DbToolGefEditor"
            name="DbToolEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bstek.bdf.plugins.databasetool.DbToolPerspective"
            icon="icons/application_tile.png"
            id="com.bstek.bdf.plugins.databasetool.DbToolPerspective"
            name="BDF Database Tool">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.bstek.bdf.plugins.databasetool.DbToolGefEditor"
            labelProvider="com.bstek.bdf.plugins.databasetool.properties.BaseModelLabelProvider"
            typeMapper="com.bstek.bdf.plugins.databasetool.properties.BaseModelTypeMapper">
         <propertyCategory
               category="element"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.bstek.bdf.plugins.databasetool.DbToolGefEditor">
         <propertyTab
               category="element"
               id="basemodel.tab.Element"
               label="属性">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.bstek.bdf.plugins.databasetool.DbToolGefEditor">
         <propertySection
               class="com.bstek.bdf.plugins.databasetool.properties.TableSection"
               filter="com.bstek.bdf.plugins.databasetool.properties.TableFilter"
               id="selection.table"
               tab="basemodel.tab.Element">
            <input
                  type="com.bstek.bdf.plugins.databasetool.model.base.BaseModel">
            </input>
         </propertySection>
         <propertySection
               afterSection="selection.table"
               class="com.bstek.bdf.plugins.databasetool.properties.ColumnSection"
               filter="com.bstek.bdf.plugins.databasetool.properties.ColumnFilter"
               id="selection.column"
               tab="basemodel.tab.Element">
            <input
                  type="com.bstek.bdf.plugins.databasetool.model.base.BaseModel">
            </input>
         </propertySection>
         <propertySection
               afterSection="selection.table"
               class="com.bstek.bdf.plugins.databasetool.properties.SchemaSection"
               filter="com.bstek.bdf.plugins.databasetool.properties.SchemaFilter"
               id="selection.schema"
               tab="basemodel.tab.Element">
            <input
                  type="com.bstek.bdf.plugins.databasetool.model.base.BaseModel">
            </input>
         </propertySection>
         <propertySection
               afterSection="selection.table"
               class="com.bstek.bdf.plugins.databasetool.properties.ConnectionSection"
               filter="com.bstek.bdf.plugins.databasetool.properties.ConnectionFilter"
               id="selection.connection"
               tab="basemodel.tab.Element">
            <input
                  type="com.bstek.bdf.plugins.databasetool.model.base.BaseModel">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.bstek.bdf.plugins.common.BDFPreferencePage"
            class="com.bstek.bdf.plugins.databasetool.preference.DbToolPreferencePage"
            id="com.bstek.bdf.plugins.databasetool.preference.DbToolPreferencePage"
            name="数据库驱动配置">
      </page>
   </extension>

</plugin>
