<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.bstek.bdf.plugins.jbpm4designer.editor.Jbpm4Designer"
            contributorClass="com.bstek.bdf.plugins.jbpm4designer.editor.EditorActionBarContributor"
            default="true"
            icon="icons/newProcess.png"
            id="com.bstek.bdf.designer.jbpm4.editor.Jbpm4Designer"
            name="Jbpm4 Designer">
         <contentTypeBinding
               contentTypeId="com.bstek.bdf.plugins.jbpm4designer.JpdlContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.bstek.bdf.designer.jbpm4.editor.Jbpm4Editor"
            typeMapper="com.bstek.bdf.plugins.jbpm4designer.property.type.NodeElementType">
         <propertyCategory
               category="graphicalPropertyCategory"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.bstek.bdf.designer.jbpm4.editor.Jbpm4Editor">
         <propertyTab
               category="graphicalPropertyCategory"
               id="jbpm4.propertyTabBasic"
               label="基本属性">
         </propertyTab>
         <propertyTab
               afterTab="jbpm4.propertyTabBasic"
               category="graphicalPropertyCategory"
               id="jbpm4.propertyTabAssignment"
               label="任务分配">
         </propertyTab>
         <propertyTab
               category="graphicalPropertyCategory"
               id="jbpm4.propertyTabTransition"
               label="路由信息">
         </propertyTab>
         <propertyTab
               afterTab="jbpm4.propertyTabBasic"
               category="graphicalPropertyCategory"
               id="jbpm4.propertyTabEvent"
               label="事件">
         </propertyTab>
         <propertyTab
               afterTab="jbpm4.propertyTabBasic"
               category="graphicalPropertyCategory"
               id="jbpm4.propertyTabDecision"
               label="决策">
         </propertyTab>
         <propertyTab
               afterTab="jbpm4.propertyTabBasic"
               category="graphicalPropertyCategory"
               id="jbpm4.propertyTabForeachVariable"
               label="变量设置">
         </propertyTab>
         <propertyTab
               afterTab="jbpm4.propertyTabBasic"
               category="graphicalPropertyCategory"
               id="jbpm4.propertyTabSubprocess"
               label="子流程">
         </propertyTab>
         <propertyTab
               afterTab="jbpm4.propertyTabSubprocess"
               category="graphicalPropertyCategory"
               id="jbpm4.propertyTabSubprocessParameter"
               label="流程变量">
         </propertyTab>
         <propertyTab
               afterTab="jbpm4.propertyTabBasic"
               category="graphicalPropertyCategory"
               id="jbpm4.propertyTabEndCancel"
               label="End类型">
         </propertyTab>
         <propertyTab
               afterTab="jbpm4.propertyTabBasic"
               category="graphicalPropertyCategory"
               id="jbpm4.propertyTabJoin"
               label="Join模式">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.bstek.bdf.designer.jbpm4.editor.Jbpm4Editor">
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.BasicPropertySection"
               id="jbpm4.propertySectionBasic"
               tab="jbpm4.propertyTabBasic">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.AbstractNodeElement">
            </input>
         </propertySection>
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.PropertySectionTaskAssign"
               id="propertySectionAssignment"
               tab="jbpm4.propertyTabAssignment">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.TaskNode">
            </input>
         </propertySection>
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.PropertySectionTransition"
               id="propertySectionTransition"
               tab="jbpm4.propertyTabTransition">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.Transition">
            </input>
         </propertySection>
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.PropertySectionProcessDefinition"
               id="jbpm4.propertySectionProcessDefinition"
               tab="jbpm4.propertyTabBasic">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.ProcessDefinition">
            </input>
         </propertySection>
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.PropertySectionTransitionLabel"
               id="jbpm4.propertySectionTransitionLabel"
               tab="jbpm4.propertyTabBasic">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.TransitionLabel">
            </input>
         </propertySection>
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.PropertySectionEvent"
               id="jbpm4.propertySectionEvent"
               tab="jbpm4.propertyTabEvent">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.AbstractNodeElement">
            </input>
         </propertySection>
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.PropertySectionDecision"
               id="jbpm4.propertySectionDecision"
               tab="jbpm4.propertyTabDecision">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.DecisionNode">
            </input>
         </propertySection>
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.PropertySectionForeachVariable"
               id="jbpm4.propertySectionForeachVariable"
               tab="jbpm4.propertyTabForeachVariable">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.ForeachNode">
            </input>
         </propertySection>
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.PropertySectionSubprocess"
               id="jbpm4.propertySectionSubprocess"
               tab="jbpm4.propertyTabSubprocess">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.SubprocessNode">
            </input>
         </propertySection>
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.PropertySectionSubprocessParameter"
               id="jbpm4.propertySectionSubprocessParameter"
               tab="jbpm4.propertyTabSubprocessParameter">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.SubprocessNode">
            </input>
         </propertySection>
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.PropertySectionEndCancel"
               id="jbpm4.propertySectionEndCancel"
               tab="jbpm4.propertyTabEndCancel">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.EndNode">
            </input>
         </propertySection>
         <propertySection
               class="com.bstek.bdf.plugins.jbpm4designer.property.section.PropertySectionJoin"
               id="jbpm4.propertySectionJoin"
               tab="jbpm4.propertyTabJoin">
            <input
                  type="com.bstek.bdf.plugins.jbpm4designer.model.JoinNode">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.bstek.bdf.plugins.common.BDFPreferencePage"
            class="com.bstek.bdf.plugins.jbpm4designer.preference.DesignerPreferencePage"
            id="com.bstek.bdf.plugins.jbpm4designer.Jbpm4PreferencePage"
            name="jBPM4Designer配置">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.bstek.bdf.plugins.common.BdfWizardCategory"
            class="com.bstek.bdf.plugins.jbpm4designer.wizard.NewProcessWizard"
            icon="icons/newProcess.png"
            id="com.bstek.bdf.plugins.jbpm4designer.NewProcessWizard"
            name="创建jBPM4流程模版">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bstek.bdf.plugins.jbpm4designer.perspective.Jbpm4PerspectiveFactory"
            icon="icons/newProcess.png"
            id="com.bstek.bdf.plugins.jbpm4designer.Jbpm4Perspective"
            name="BDF jBPM4">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.bstek.bdf.plugins.jbpm4designer.JpdlContentType"
            name="jBPM4 File"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="process">
            </parameter>
         </describer>
      </content-type>
   </extension>

</plugin>
