<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.bstek.bdf.plugins.common.BdfWizardCategory"
            class="com.bstek.bdf.plugins.pojo2datatype.POJO2DataTypeWizard"
            icon="icons/java_model_obj.gif"
            id="com.bstek.bdf.plugins.pojo2datatype.newModel"
            name="从POJO到DataType">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.bstek.bdf.plugins.pojo2datatype.POJO2DataTypeCategory"
            defaultHandler="com.bstek.bdf.plugins.pojo2datatype.handlers.POJO2DataTypeHandler"
            id="com.bstek.bdf.plugins.pojo2datatype.pojo2DataTypeCommand"
            name="POJO2DataType">
      </command>
      <category
            id="com.bstek.bdf.plugins.pojo2datatype.POJO2DataTypeCategory"
            name="POJO2DataType Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="com.bstek.bdf.plugins.pojo2datatype.pojo2DataTypeCommand"
               icon="icons/java_model_obj.gif"
               label="从POJO到DataType"
               style="push"
               tooltip="根据指定的Java类生成Model文件">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <or>
                           <instanceof
                                 value="org.eclipse.jdt.core.IPackageFragment">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.internal.core.CompilationUnit">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IPackageFragmentRoot">
                           </instanceof>
                        </or>
                        <not>
                           <instanceof
                                 value="org.eclipse.jdt.internal.core.JarPackageFragmentRoot">
                           </instanceof>
                        </not>
                        <not>
                           <instanceof
                                 value="org.eclipse.core.resources.IFolder">
                           </instanceof>
                        </not>
                        <not>
                           <instanceof
                                 value="org.eclipse.core.resources.IFile">
                           </instanceof>
                        </not>
                        <not>
                           <instanceof
                                 value="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer">
                           </instanceof>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.ProjectsView?after=additions">
         <command
               commandId="com.bstek.bdf.plugins.pojo2datatype.pojo2DataTypeCommand"
               icon="icons/java_model_obj.gif"
               label="从POJO到DataType"
               style="push"
               tooltip="根据指定的Java类生成Model文件">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <or>
                           <instanceof
                                 value="org.eclipse.jdt.core.IPackageFragment">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.internal.core.CompilationUnit">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IPackageFragmentRoot">
                           </instanceof>
                        </or>
                        <not>
                           <instanceof
                                 value="org.eclipse.jdt.internal.core.JarPackageFragmentRoot">
                           </instanceof>
                        </not></and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="com.bstek.bdf.plugins.pojo2datatype.pojo2DataTypeCommand"
               icon="icons/java_model_obj.gif"
               label="从POJO到DataType"
               style="push"
               tooltip="根据指定的Java类生成Model文件">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <or>
                           <instanceof
                                 value="org.eclipse.jdt.core.IPackageFragment">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.internal.core.CompilationUnit">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IPackageFragmentRoot">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                        </or>
                        <not>
                           <instanceof
                                 value="org.eclipse.jdt.internal.core.JarPackageFragmentRoot">
                           </instanceof>
                        </not>
                        <not>
                           <instanceof
                                 value="org.eclipse.core.resources.IFolder">
                           </instanceof>
                        </not>
                        <not>
                           <instanceof
                                 value="org.eclipse.core.resources.IFile">
                           </instanceof>
                        </not>
                        <not>
                           <instanceof
                                 value="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer">
                           </instanceof>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
